* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}

.rewards-bar {
  display: flex;
  padding-block: 7px;
  align-items: center;
  gap: 50px;
  color: #101820;
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;
}

.bold {
  font-weight: 700;
}
.entrega,
.troque,
.juros,
.presente {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-top {
  margin: 0;
  height: 33px;
  background-color: #f1f1f1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.buckman__ul {
  display: flex;
}

.buckman__li {
  list-style: none;
  padding: 40px 19px;
}

a {
  text-decoration: none;
  color: #101820;
  font-weight: 700;
  font-size: 12px;
}
.outlet {
  color: #e32000;
}

/* dropdown-menu */

[data-dropdown] .dropdown-menu {
  display: none;
}

[data-dropdown]:hover .dropdown-menu {
  display: block;
}

/* [data-dropdown] {
  position: relative;
} */

.dropdown-menu {
  position: absolute;
  top: 110px;
  background: #fff;
  /*  border: 1px solid #101820; */
  z-index: 100;
}

.dropdown-menu li {
  padding-bottom: 20px;
  list-style: none;
}

.dropdown-menu a {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.dropdown-menu a:hover {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 2px;
}

.search-bar {
  display: flex;
  position: relative;
}
.search-bar button {
  border: none;
  background: none;
  position: absolute;
  right: 3px;
}

input::placeholder {
  font-size: 14px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  font-family: "Lato", sans-serif;
  padding-bottom: 10px;
  color: #101820;
}

#site-search {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #d9d9d9;
  width: 255px;
  height: 35px;
}

.header-direito {
  display: flex;
  gap: 30px;
}

button {
  border: none;
  background: transparent;
}

.favoritos,
.fale-conosco,
.entrar,
.line-mobile,
[data-menu="button"],
[data-menu="mobile-close"],
[data-menu-aberto="button"] {
  display: none;
}

@media (max-width: 640px) {
  .rewards-bar {
    overflow-x: scroll;
    overflow-y: hidden;
    padding-block: 8px;
    padding-left: 21px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 28px;
  }

  .entrega {
    display: flex;
    align-items: center;
  }
  .troque,
  .juros,
  .presente {
    display: flex;
    align-items: center;

    gap: 10px;
    margin-left: 28px;
  }

  .header-top {
    margin-bottom: 0;
    display: flex;
    justify-content: flex-start;
  }

  .header-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .header-direito .minicart {
    position: absolute;
    top: 44px;
    right: 5%;
  }

  .buckman-logo {
    margin-top: 14px;
    margin-bottom: 22px;
  }

  #site-search {
    width: 366px;
    text-align: center;
  }

  /* menu-aberto */

  [data-menu="rewards-bar"].active {
    display: none;
  }

  [data-menu="button"] {
    display: flex;
    align-items: center;
    position: absolute;
    top: 51px;
    left: 5%;
    z-index: 300;

    cursor: pointer;
    background: none;
    border: none;
  }

  [data-menu="button"]::before {
    content: url("./assets/svg/menu-mobile.svg");
    background-color: transparent;
  }

  [data-menu="button"].active::after {
    content: url(./assets/svg/Menu.svg);

    width: 300px;
    background-color: #fff;
    position: absolute;
    top: 49px;
    left: 5%;

    top: 0;
    left: 2%;
    z-index: 350;
    width: 29px;
  }
  [data-menu="list"] {
    display: flex;
    position: absolute;
    flex-direction: column-reverse;
    background: #fff;
    display: none;
    left: 2%;
    z-index: 100;
  }

  .buckman__li:nth-of-type(2) {
    order: 6;
  }

  .buckman__li:nth-of-type(1) {
    order: 5;
  }

  .buckman__li:nth-of-type(3) {
    order: 4;
  }

  .buckman__li:nth-of-type(4) {
    order: 3;
  }

  .buckman__li:nth-of-type(5) {
    order: 2;
  }

  .buckman__li:nth-of-type(6) {
    order: 1;
  }

  [data-menu="list"].active {
    margin-top: 60px;
    width: 95%;
    display: block;
    display: flex;
    padding-inline: 12px;
  }

  [data-menu="logo"].active,
  [data-menu="search-bar"].active,
  [data-menu="minicart"].active {
    display: none;
  }

  .outlet {
    color: #101820;
  }

  [data-menu="login"].active {
    display: block;
    position: absolute;
    top: 420px;
    left: 5%;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  [data-menu="login"].active::after {
    content: "Minha Conta";
    font-weight: 400;
    line-height: 20px;
    font-family: "Montserrat", sans-serif;
  }

  [data-menu="favoritos"].active {
    display: block;
    position: absolute;
    top: 470px;
    left: 5%;
    display: flex;
    gap: 15px;
  }
  [data-menu="favoritos"].active::after {
    content: "Favoritos";
    font-weight: 400;
    line-height: 20px;

    font-family: "Montserrat", sans-serif;
  }

  [data-menu="nossas-lojas"].active {
    display: block;
    position: absolute;
    top: 520px;
    left: 5%;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  [data-menu="nossas-lojas"].active::after {
    content: "Nossas Lojas";
    font-weight: 400;
    line-height: 20px;

    font-family: "Montserrat", sans-serif;
  }

  [data-menu="fale-conosco"].active {
    display: block;
    position: absolute;
    top: 570px;
    left: 5%;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  [data-menu="fale-conosco"].active::after {
    content: "Fale Conosco";
    font-weight: 400;
    line-height: 20px;

    font-family: "Montserrat", sans-serif;
  }

  [data-menu="entrar"].active {
    display: block;
    position: absolute;
    top: 620px;
    left: 5%;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  [data-menu="entrar"].active::after {
    content: "Entrar";
    font-weight: 400;
    line-height: 20px;

    font-family: "Montserrat", sans-serif;
  }

  [data-menu="mobile-close"].active {
    display: block;
    position: absolute;
    right: 5%;

    top: 48px;
  }

  .buckman__li {
    padding-inline: 0;
    padding-block: 12px;
    display: flex;
    justify-content: space-between;
    animation: slide-right 0.5s ease-in-out 0.2s both;
  }
  .buckman__li::after {
    content: url(./assets/svg/arrow.svg);
  }

  .line-mobile {
    display: block;
    margin-top: 2rem;
  }

  .nossas-lojas,
  .login {
    display: none;
  }

  .buckman__li {
    padding-left: 0;
  }
}
